$text-color: #2c3e50;
$dark-color: #141414;
$break-small: 320px;
$break-large: 30em;

#app {
  font: 400 18px/1.5 'Avenir', Helvetica, -apple-system, BlinkMacSystemFont, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  text-transform: uppercase;
}

p {
  text-align: left;
}
.right {
  text-align: right;
}

// remove glow from inputs
input[type="text"], textarea {
	outline: none;
	box-shadow:none !important;
	border:1px solid $text-color !important;
}

// .form-control::-webkit-input-placeholder {
// 	opacity: 0.6;
// }
// .form-control:focus {
// 	box-shadow: 0 0 5px $text-color !important;
// }
// .col .right {
//   text-align: right;
// }

#riddle {
  text-align: center;
  font-weight: 700;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: #b87333;
  margin: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.col {
  flex: 1;
  max-width: 650px;
  padding: 0px 5px;
  // flex-grow ??
  // flex-basis: 200px -- equal size when 200px or wider
  margin: auto;
}

.primary {
  flex: 2;
}

label {
  font-weight: 700;
}

.button-row {
  display: flex;
  padding: 10px 0;
  // justify-content: left;
  // align-items: stretch;
  // justify-content: left;
  // max-width: 400px;
}
.col-button:last-child {
  // flex: 1;
  padding: 0 20px;
  // margin: auto;
}

// .primary {
//   margin: 0;

// }

// button styling
// .button{

// }

.button-square {
  border: 2.5px solid $dark-color;
  text-decoration: none;
  width: 250px;
  height: 70px;
  background-color: $dark-color;
  color: #fff;
  // box-shadow: 1px 1px #141414;
  transition-property: color, background-color, box-shadow;
  transition: .3s ease-in-out;
  &:hover, &:active {
    box-shadow: -10px 10px$dark-color;
    color: $dark-color;
    background-color: #fff;
  }
}

.button-submit {
  border: 2.5px solid $dark-color;
  text-decoration: none;
  width: 125px;
  height: 50px;
  background-color: $dark-color;
  color: #fff;
  // box-shadow: 1px 1px #141414;
  transition-property: opacity;
  transition: .3s ease-in-out;
  &:hover, &:active {
    opacity: s0.7;
  }
}

.button-clear {
  border: 2.5px solid $dark-color;
  text-decoration: none;
  width: 125px;
  height: 50px;
  // padding: 5px 50px;
  background-color: #fff;
  // box-shadow: 1px 1px #141414;
  transition-property: color, background-color;
  transition: .3s ease-in-out;
  &:hover, &:active {
    color: #fff;
    background-color: $dark-color;
  }
}


// for different components
.fade-enter-active, .fade-leave-active {
  transition: opacity .7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}